# <font color='red'> *ABSOLUTE BEGINNER LEVEL* </font> 
# <font color='red'> DICTIONARIES </font>

# <font color='blue'> 1. CREATE A DICTIONARY WITH 3 OF YOUR FAVOURITE FRIENDS AND THEIR RESPECTIVE AGE AND PRINT OUT THE AGE OF SECOND NAME YOU CHOOSE</font>

In [2]:
my_friends = {"laila": 25, 
              "sally": 22,
              "rob": 31}
my_friends
print(my_friends["sally"])

22

In [2]:
# Step 1Ô∏è‚É£: Create a dictionary with friends and their respective ages
# The dictionary stores the name of each friend as the key and their age as the value
my_friends = {
    "laila": 25,  # Name: laila, Age: 25
    "sally": 22,  # Name: sally, Age: 22
    "rob": 31     # Name: rob, Age: 31
}

# Step 2Ô∏è‚É£: Print the entire dictionary üóÇÔ∏è
print("üìã My friends and their ages:")
print(my_friends)
# Output: {'laila': 25, 'sally': 22, 'rob': 31}

# Step 3Ô∏è‚É£: Access and print the age of the second friend üîë
# Here, "sally" is the second friend
print("\nüîç The age of sally is:")
print(my_friends["sally"])  # Access the value associated with the key 'sally'
# Output: 22

üìã My friends and their ages:
{'laila': 25, 'sally': 22, 'rob': 31}

üîç The age of sally is:
22

# <font color='blue'> 2. CREATE A DICTIONARY WITH 3 OF YOUR FAVOURITE FRIENDS AND THEIR RESPECTIVE HOURLY WAGE AND OBTAIN THE AVERAGE OF ALL THEIR SALARIES </font>

In [3]:
my_friends = {"laila": 25, 
              "sally": 22,
              "rob": 31}
print(my_friends)
print((my_friends["laila"] + my_friends["sally"] + my_friends["rob"])/3 )

{'laila': 25, 'sally': 22, 'rob': 31}
26.0

In [5]:
# Step 1Ô∏è‚É£: Create a dictionary of hourly wages
my_friends = {
    "laila": 25,
    "sally": 22,
    "rob": 31
}
print("üìã Hourly wages of my friends:")
print(my_friends)

# Step 2Ô∏è‚É£: Calculate the average wage
average_wage = sum(my_friends.values()) / len(my_friends)
print("\nüìä Average hourly wage:")
print(round(average_wage, 2))

# Step 3Ô∏è‚É£: Add a new friend and recalculate
my_friends["mike"] = 28
print("\nüÜï Updated dictionary after adding Mike:")
print(my_friends)
new_average_wage = sum(my_friends.values()) / len(my_friends)
print("\nüìä New average wage after adding Mike:")
print(round(new_average_wage, 2))

# Step 4Ô∏è‚É£: Find the highest and lowest earners
highest_earner = max(my_friends, key=my_friends.get)
lowest_earner = min(my_friends, key=my_friends.get)
print("\nüí∞ Highest and lowest wages:")
print(f"Highest earner: {highest_earner} with ${my_friends[highest_earner]}/hour")
print(f"Lowest earner: {lowest_earner} with ${my_friends[lowest_earner]}/hour")

# Step 5Ô∏è‚É£: Sort friends by their hourly wage
sorted_friends = dict(sorted(my_friends.items(), key=lambda item: item[1]))
print("\nüìã Friends sorted by hourly wage (ascending):")
print(sorted_friends)

# Step 6Ô∏è‚É£: Find friends earning more than $25/hour
high_earners = {name: wage for name, wage in my_friends.items() if wage > 25}
print("\nüîç Friends earning more than $25/hour:")
print(high_earners)

üìã Hourly wages of my friends:
{'laila': 25, 'sally': 22, 'rob': 31}

üìä Average hourly wage:
26.0

üÜï Updated dictionary after adding Mike:
{'laila': 25, 'sally': 22, 'rob': 31, 'mike': 28}

üìä New average wage after adding Mike:
26.5

üí∞ Highest and lowest wages:
Highest earner: rob with $31/hour
Lowest earner: sally with $22/hour

üìã Friends sorted by hourly wage (ascending):
{'sally': 22, 'laila': 25, 'mike': 28, 'rob': 31}

üîç Friends earning more than $25/hour:
{'rob': 31, 'mike': 28}

# <font color='blue'> 3. UPDATE THE PREVIOUS DICTIONARY WITH TWO OF YOUR NEXT FAVOURITE FRIENDS AND THEIR RESPECTIVE SALARIES AND OBTAIN THE AVERAGE OF ALL THEIR SALARIES </font>

In [88]:

my_friends = {"laila": 25, 
              "sally": 22,
              "rob": 31}

my_friends ["Mary"] = 22
my_friends ["Peter"] = 25


print(my_friends)
print( (my_friends["laila"] + my_friends["sally"] + my_friends["rob"] + my_friends["Mary"] + my_friends["Peter"])/5)

{'laila': 25, 'sally': 22, 'rob': 31, 'Mary': 22, 'Peter': 25}
25.0

In [ ]:
print(sum(my_friends.values())/5)

In [8]:
# Step 1Ô∏è‚É£: Create a dictionary with friends and their salaries üíµ
# The dictionary stores the friend's name as the key and their salary as the value
my_friends = {
    "laila": 25,  # Laila earns $25
    "sally": 22,  # Sally earns $22
    "rob": 31     # Rob earns $31
}

# Display the original dictionary
print("üìã Original dictionary with friends' salaries:")
print(my_friends)
# Output: {'laila': 25, 'sally': 22, 'rob': 31}

# Step 2Ô∏è‚É£: Update the dictionary with two more friends üÜï
# Add a new friend Mary with a salary of $22
my_friends["Mary"] = 22

# Add another friend Peter with a salary of $25
my_friends["Peter"] = 25

# Display the updated dictionary
print("\nüÜï Updated dictionary after adding new friends:")
print(my_friends)
# Output: {'laila': 25, 'sally': 22, 'rob': 31, 'Mary': 22, 'Peter': 25}

# Step 3Ô∏è‚É£: Calculate the average salary üßÆ
# Use the sum() function to calculate the total of all salaries, 
# and divide by the total number of friends (len(my_friends))
average_salary = sum(my_friends.values()) / len(my_friends)

# Display the average salary
print("\nüìä Average salary of friends:")
print(round(average_salary, 2))  # Round the result to 2 decimal places
# Output: 25.0

üìã Original dictionary with friends' salaries:
{'laila': 25, 'sally': 22, 'rob': 31}

üÜï Updated dictionary after adding new friends:
{'laila': 25, 'sally': 22, 'rob': 31, 'Mary': 22, 'Peter': 25}

üìä Average salary of friends:
25.0

# <font color='blue'> 4. WRITE A CODE THAT MULTIPLIES ALL THE ELEMENTS IN THE FOLLOWING DICTIONARY

In [10]:
my_dict = {'data1':500,
           'data2':-10,
           'data3':300}

total = 1
    
total = total * my_dict['data1']
total = total * my_dict['data2']
total = total * my_dict['data3']

print(total)

-1500000

In [11]:
# Step 1Ô∏è‚É£: Create a dictionary with numeric values üóÇÔ∏è
# Keys represent labels, and values are the numbers we want to multiply
my_dict = {
    "data1": 500,
    "data2": -10,
    "data3": 300
}

# Step 2Ô∏è‚É£: Initialize a variable to store the result
# Start with 1 because multiplying by 1 doesn't affect the result
total = 1

# Step 3Ô∏è‚É£: Multiply all the values in the dictionary üîÑ
# Iterate through all the values in the dictionary
for value in my_dict.values():
    total *= value  # Multiply the current total by each value

# Step 4Ô∏è‚É£: Print the final result üìä
print("üìä The product of all elements in the dictionary is:")
print(total)
# Output: -1500000

üìä The product of all elements in the dictionary is:
-1500000

# <font color='blue'> 5. FOR EACH OF THE STUDENTS LIST BELOW, CALCULATE THE AVERAGE MARK FOR THE MIDTERM AND FINAL EXAMS FOR EACH STUDENT AND PUT THE AVERAGE IN A SEPARATE DICTIONARY ALONG WITH WITH THE STUDENT ID

In [91]:
student_details = [
  {'student_id' : 1, 'subject' : 'math', 'midterm' : 60, 'final' : 85},
  {'student_id' : 2, 'subject' : 'math', 'midterm' : 80, 'final' : 78},
  {'student_id' : 3, 'subject' : 'math', 'midterm' : 90, 'final' : 85}
]


average_1 = (student_details[0]["midterm"]+student_details[0]["final"])/2
average_2 = (student_details[1]["midterm"]+student_details[1]["final"])/2
average_3 = (student_details[2]["midterm"]+student_details[2]["final"])/2


my_average = [{'student_id': 1, 'average' : average_1},
              {'student_id': 2, 'average' : average_2},
              {'student_id': 3, 'average' : average_3}
             ]

from pprint import pprint

pprint(my_average)

[{'average': 72.5, 'student_id': 1},
 {'average': 79.0, 'student_id': 2},
 {'average': 87.5, 'student_id': 3}]

In [14]:
# Step 1Ô∏è‚É£: Create the list of student details üìù
# Each dictionary in the list contains a student's ID, subject, midterm score, and final exam score
student_details = [
    {"student_id": 1, "subject": "math", "midterm": 60, "final": 85},
    {"student_id": 2, "subject": "math", "midterm": 80, "final": 78},
    {"student_id": 3, "subject": "math", "midterm": 90, "final": 85},
]

# Step 2Ô∏è‚É£: Initialize a new list to store student averages üìä
averages = []

# Step 3Ô∏è‚É£: Loop through each student's data to calculate their average üîÑ
for student in student_details:
    # Calculate the average of midterm and final scores
    average_score = (student["midterm"] + student["final"]) / 2
    
    # Create a new dictionary with student_id and their average score
    student_average = {"student_id": student["student_id"], "average": average_score}
    
    # Append the new dictionary to the averages list
    averages.append(student_average)

# Step 4Ô∏è‚É£: Display the results using pprint for better readability üìã
from pprint import pprint  # Import pprint for structured output
print("üìä Averages for each student:")
pprint(averages)

# Output:
# [{'student_id': 1, 'average': 72.5},
#  {'student_id': 2, 'average': 79.0},
#  {'student_id': 3, 'average': 87.5}]

üìä Averages for each student:
[{'average': 72.5, 'student_id': 1},
 {'average': 79.0, 'student_id': 2},
 {'average': 87.5, 'student_id': 3}]

# <font color='blue'> 6. REPEAT THE PREVIOUS EXERCISE BUT ADD THE AVERAGE IN A NEW DICTINARY LINE WITH "AVERAGE" AS A KEY

In [34]:
student_details[0]['average'] = (student_details[0]["midterm"]+student_details[0]["final"])/2
student_details[1]['average'] = (student_details[1]["midterm"]+student_details[1]["final"])/2
student_details[2]['average'] = (student_details[2]["midterm"]+student_details[2]["final"])/2

print(student_details[0])

In [17]:
# Step 1Ô∏è‚É£: Create a list of student details üìù
# Each dictionary contains student ID, subject, midterm score, and final exam score
student_details = [
    {"student_id": 1, "subject": "math", "midterm": 60, "final": 85},
    {"student_id": 2, "subject": "math", "midterm": 80, "final": 78},
    {"student_id": 3, "subject": "math", "midterm": 90, "final": 85},
]

# Step 2Ô∏è‚É£: Calculate the average for each student and add it to their dictionary üîÑ
# Iterate over the list of students
for student in student_details:
    # Calculate the average of midterm and final scores
    student["average"] = (student["midterm"] + student["final"]) / 2

# Step 3Ô∏è‚É£: Display the updated list of student details üìã
print("üìä Updated student details with average scores:")
for student in student_details:
    print(student)

# Example Output:
# {'student_id': 1, 'subject': 'math', 'midterm': 60, 'final': 85, 'average': 72.5}
# {'student_id': 2, 'subject': 'math', 'midterm': 80, 'final': 78, 'average': 79.0}
# {'student_id': 3, 'subject': 'math', 'midterm': 90, 'final': 85, 'average': 87.5}

üìä Updated student details with average scores:
{'student_id': 1, 'subject': 'math', 'midterm': 60, 'final': 85, 'average': 72.5}
{'student_id': 2, 'subject': 'math', 'midterm': 80, 'final': 78, 'average': 79.0}
{'student_id': 3, 'subject': 'math', 'midterm': 90, 'final': 85, 'average': 87.5}

# <font color='blue'> 7. SQUARE EACH ELEMENT IN THE FOLLOWING DICTIONARY

In [45]:
dictionary = {'C1' : [10,20,30],
              'C2' : [20,30,40]}

dictionary['C1'] = [ dictionary['C1'][0]**2 , dictionary['C1'][1]**2, dictionary['C1'][2]**2]
dictionary['C2'] = [ dictionary['C2'][0]**2 , dictionary['C2'][1]**2, dictionary['C2'][2]**2]

In [46]:
print(dictionary)

{'C1': [100, 400, 900], 'C2': [400, 900, 1600]}

In [20]:
# Step 1Ô∏è‚É£: Define the dictionary üìã
# The dictionary contains keys ("C1", "C2") and lists of numbers as values
dictionary = {
    "C1": [10, 20, 30],  # Key "C1" with values [10, 20, 30]
    "C2": [20, 30, 40],  # Key "C2" with values [20, 30, 40]
}

# Step 2Ô∏è‚É£: Square each element in the lists üîÑ
# Explanation: We'll loop through the dictionary, access each list, and square each value dynamically

for key, value_list in dictionary.items():  # Iterate through key-value pairs in the dictionary
    dictionary[key] = [num**2 for num in value_list]  # Square each number in the list

# Step 3Ô∏è‚É£: Display the updated dictionary üìã
print("üìä Dictionary after squaring each element:")
print(dictionary)
# Output: {'C1': [100, 400, 900], 'C2': [400, 900, 1600]}

üìä Dictionary after squaring each element:
{'C1': [100, 400, 900], 'C2': [400, 900, 1600]}

# <font color='blue'>  8. CREATE A LIST OF ALL KEYS AND A LIST OF ALL VALUES AND THE TOTAL SUM OF ALL VALUES

In [77]:
my_salary = {"alex": 25, "sally": 28, "dina": 30}

names = list(my_salary.keys())
salaries = list(my_salary.values())

In [78]:
salaries

[25, 28, 30]

In [79]:
names

['alex', 'sally', 'dina']

In [80]:
my_dict.values()

dict_values([23, 22, 50, 10, 44])

In [81]:
total_salaries = sum(my_salary.values())

In [82]:
total_salaries

83

In [23]:
# Step 1Ô∏è‚É£: Define a dictionary üóÇÔ∏è
# The dictionary stores names as keys and salaries as values
my_salary = {
    "alex": 25,   # Alex's salary is 25
    "sally": 28,  # Sally's salary is 28
    "dina": 30    # Dina's salary is 30
}

# Step 2Ô∏è‚É£: Extract the keys and values from the dictionary üîë
# Convert the keys to a list
names = list(my_salary.keys())  # ['alex', 'sally', 'dina']

# Convert the values to a list
salaries = list(my_salary.values())  # [25, 28, 30]

# Step 3Ô∏è‚É£: Calculate the total sum of all values üßÆ
# Use the sum() function to calculate the total salaries
total_salaries = sum(my_salary.values())  # 83

# Step 4Ô∏è‚É£: Display the results üìä
print("üìã List of all names (keys):")
print(names)  # ['alex', 'sally', 'dina']

print("\nüìã List of all salaries (values):")
print(salaries)  # [25, 28, 30]

print("\nüìä Total sum of all salaries:")
print(total_salaries)  # 83

üìã List of all names (keys):
['alex', 'sally', 'dina']

üìã List of all salaries (values):
[25, 28, 30]

üìä Total sum of all salaries:
83

# <font color='blue'>  9. OBTAIN THE LENGTH OF THE FOLLOWING DICTIONARY AND SORT ITS ELEMENTS

In [72]:
my_dict = {"sally": 23, "dina": 22, "holy": 50, "Joe": 10, "Peter": 44}

print(len(my_dict.values()))

print(sorted(my_dict.values()))

5
[10, 22, 23, 44, 50]

In [26]:
# Step 1Ô∏è‚É£: Define the dictionary üóÇÔ∏è
# This dictionary contains names as keys and numerical values as their associated data
my_dict = {
    "sally": 23,   # Sally's value is 23
    "dina": 22,    # Dina's value is 22
    "holy": 50,    # Holy's value is 50
    "Joe": 10,     # Joe's value is 10
    "Peter": 44    # Peter's value is 44
}

# Step 2Ô∏è‚É£: Get the length of the dictionary üìè
# The length of a dictionary is the number of key-value pairs it contains
dict_length = len(my_dict)

# Step 3Ô∏è‚É£: Sort the values of the dictionary üìä
# Extract the dictionary's values and sort them in ascending order
sorted_values = sorted(my_dict.values())

# Step 4Ô∏è‚É£: Display the results ‚ú®
print("üìã Length of the dictionary:")
print(dict_length)  # Output: 5

print("\nüìã Sorted list of dictionary values:")
print(sorted_values)  # Output: [10, 22, 23, 44, 50]

üìã Length of the dictionary:
5

üìã Sorted list of dictionary values:
[10, 22, 23, 44, 50]

# <font color='blue'> 10. FILTER OUT VALUES THAT ARE GREATER THAN OR EQUAL TO 30 (ADVANCED)(TO BE COVERED) </font>

In [92]:
my_dictionary = {"Key 1": 20, "Key 2": 30, "Key 3": 50}

result = dict((key, value) for key, value in my_dictionary.items() if value <= 30)
print(result)

{'Key 1': 20, 'Key 2': 30}

In [29]:
# Step 1Ô∏è‚É£: Define the dictionary üóÇÔ∏è
# The dictionary contains keys and their associated numerical values
my_dictionary = {
    "Key 1": 20,  # "Key 1" has a value of 20
    "Key 2": 30,  # "Key 2" has a value of 30
    "Key 3": 50   # "Key 3" has a value of 50
}

# Step 2Ô∏è‚É£: Filter out values greater than 30 üîç
# Use dictionary comprehension to create a new dictionary
# Keep only key-value pairs where the value is less than or equal to 30
result = {key: value for key, value in my_dictionary.items() if value <= 30}

# Step 3Ô∏è‚É£: Display the filtered dictionary ‚ú®
print("üìã Filtered dictionary (values <= 30):")
print(result)
# Output: {'Key 1': 20, 'Key 2': 30}—è

üìã Filtered dictionary (values <= 30):
{'Key 1': 20, 'Key 2': 30}

In [31]:
x = 10
y = 20
print(x>y)
print(x<y)
print(x==y)
print(x!=y)–Ø

SyntaxError: invalid syntax (4139694029.py, line 6)

# <font color='blue'> 11. WHAT WILL THIS CODE GENERATE? </font>

In [34]:
# Define variables
x = 10
y = 20

# Simple comparisons
print("Is x > y? ‚û°Ô∏è", x > y)
print("Is x < y? ‚û°Ô∏è", x < y)
print("Is x == y? ‚û°Ô∏è", x == y)
print("Is x != y? ‚û°Ô∏è", x != y)

# Chained comparisons
a = 10
b = 20
c = 30
print("\nIs a < b < c? ‚û°Ô∏è", a < b < c)

# Negative numbers
x = -10
y = -20
z = 0
print("\nIs x > y? ‚û°Ô∏è", x > y)
print("Is x < z? ‚û°Ô∏è", x < z)

# Logical operations
print("\nIs x > 5 AND y < 30? ‚û°Ô∏è", x > 5 and y < 30)
print("Is x > 15 OR y < 25? ‚û°Ô∏è", x > 15 or y < 25)
print("Is x NOT less than y? ‚û°Ô∏è", not (x < y))

# Real-world grading example
score = 85
if score >= 90:
    print("\nGrade: A")
elif score >= 80:
    print("Grade: B")
elif score >= 70:
    print("Grade: C")
else:
    print("Grade: F")

Is x > y? ‚û°Ô∏è False
Is x < y? ‚û°Ô∏è True
Is x == y? ‚û°Ô∏è False
Is x != y? ‚û°Ô∏è True

Is a < b < c? ‚û°Ô∏è True

Is x > y? ‚û°Ô∏è True
Is x < z? ‚û°Ô∏è True

Is x > 5 AND y < 30? ‚û°Ô∏è False
Is x > 15 OR y < 25? ‚û°Ô∏è True
Is x NOT less than y? ‚û°Ô∏è True
Grade: B

# NOW YOU SHOULD BE FAMILIAR WITH DICTIONARIES, GREAT JOB!